@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/layout/section.sass";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: #f4f4ef;
}

code {
  font-family: "Courier New", monospace;
}

.center {
  text-align: center;
}
a {
  color: #636363;
  text-decoration: none;
  transition: all 0.5s ease-in;
  &hover {
    text-decoration: underline;
  }
}

/* Navigation */

.bar {
  background: #fff;
  margin-top: 40px;
  text-align: center;
  padding: 1.5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, 0.12);
  h2 {
    margin: 0;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 4px;
    font-family: "Work Sans", sans-serif;
  }
}

/* Person Styles */
.person-container {
  background: #eee;
  padding: 10px;
  width: 50%;
  margin: 10px auto;
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, 0.12);
  font-family: "Work Sans", sans-serif;
  border: 1px solid #a8bce7;
  border-radius: 20px;
}

.person_heading {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #636363;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    height: 44px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #dbe2e8;
    font-size: 14px;
    border-radius: 2px;
    color: #636363;
    box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
    outline: none;
    width: 80%;
  }
  textarea {
    width: 80%;
    max-width: 80%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    border: 1px solid #dbe2e8;
    font-size: 14px;
    border-radius: 2px;
    color: #636363;
    font-family: "Work Sans,", sans-serif;
    box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
    outline: none;
  }
}

/* All Posts */

.all_people_heading {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: #636363;
  word-wrap: break-word;
}

.person {
  background: #cdd8db;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
  border: 1px solid #ff7777;
  border-radius: 10px;
}

button,
.form button {
  background: #02b3e4;
  padding: 15px 40px;
  text-align: center;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  border-radius: 4px;
  border: none;
  font-size: 20px;
}

.person_name,
.person_job {
  text-align: center;
  font-weight: 400;
  font-size: 25px;
  color: #636363;
  word-wrap: break-word;
}

.person_extraInfo {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5rem;
  text-align: center;
  word-wrap: break-word;
}

.control-buttons {
  display: flex;
}

.delete {
  background: #ff7777;
  border: none;
  text-align: center;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  color: #fff;
}

.edit {
  background: #02b3e4;
  border: none;
  text-align: center;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: auto;
  outline: none;
  color: #fff;
}

.sort {
  margin-left: 30px;
  width: 250px;
}

.button_wrapper {
  display: flex;
  justify-content: center;
}
